In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split as t_t_s

In [2]:
data = pd.read_csv("F:\\Excelr\\Assignment\\Using R\\SVM\\forestfires.csv")

In [3]:
data.head()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
0,mar,fri,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,0,1,0,0,0,0,small
1,oct,tue,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,0,0,0,0,0,0,1,0,small
2,oct,sat,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,0,0,0,0,0,0,1,0,small
3,mar,fri,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,0,1,0,0,0,0,small
4,mar,sun,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,1,0,0,0,0,small

In [4]:
data.describe()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
count,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,...,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000,517.000000
mean,90.644681,110.872340,547.940039,9.021663,18.889168,44.288201,4.017602,0.021663,12.847292,0.164410,...,0.017408,0.038685,0.003868,0.061896,0.032882,0.104449,0.003868,0.001934,0.029014,0.332689
std,5.520111,64.046482,248.066192,4.559477,5.806625,16.317469,1.791653,0.295959,63.655818,0.371006,...,0.130913,0.193029,0.062137,0.241199,0.178500,0.306138,0.062137,0.043980,0.168007,0.471632
min,18.700000,1.100000,7.900000,0.000000,2.200000,15.000000,0.400000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.200000,68.600000,437.700000,6.500000,15.500000,33.000000,2.700000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,91.600000,108.300000,664.200000,8.400000,19.300000,42.000000,4.000000,0.000000,0.520000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,92.900000,142.400000,713.900000,10.800000,22.800000,53.000000,4.900000,0.000000,6.570000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,96.200000,291.300000,860.600000,56.100000,33.300000,100.000000,9.400000,6.400000,1090.840000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
data.drop(["month","day"],axis=1, inplace = True)

In [6]:
x = data.iloc[:,0:28]
y = data.iloc[:,28]

In [7]:
print(x)

     FFMC    DMC     DC   ISI  temp  RH  wind  rain   area  dayfri  ...  \
0    86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00       1  ...
1    90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00       0  ...
2    90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00       0  ...
3    91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00       1  ...
4    89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00       0  ...
..    ...    ...    ...   ...   ...  ..   ...   ...    ...     ...  ...
512  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44       0  ...
513  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29       0  ...
514  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16       0  ...
515  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00       0  ...
516  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00       0  ...

     monthdec  monthfeb  monthjan  monthjul  monthjun  monthmar  monthmay  \
0           0         0         0         0         0         1         0
1           0         0         0         0         0         0         0
2           0         0         0         0         0         0         0
3           0         0         0         0         0         1         0
4           0         0         0         0         0         1         0
..        ...       ...       ...       ...       ...       ...       ...
512         0         0         0         0         0         0         0
513         0         0         0         0         0         0         0
514         0         0         0         0         0         0         0
515         0         0         0         0         0         0         0
516         0         0         0         0         0         0         0

     monthnov  monthoct  monthsep
0           0         0         0
1           0         1         0
2           0         1         0
3           0         0         0
4           0         0         0
..        ...       ...       ...
512         0         0         0
513         0         0         0
514         0         0         0
515         0         0         0
516         1         0         0

[517 rows x 28 columns]

In [8]:
print(y)

0      small
1      small
2      small
3      small
4      small
       ...
512    large
513    large
514    large
515    small
516    small
Name: size_category, Length: 517, dtype: object

In [9]:
def norm_func(i):
    x = (i-i.min())/(i.max()-i.min())
    return(x)

In [10]:
fire = norm_func(x)

In [11]:
x_train,x_test,y_train,y_test = t_t_s(x,y,test_size = 0.3, random_state = 1)

#kernel = LINEAR

In [13]:
model = SVC(kernel = "linear")
model.fit(x_train,y_train)
pred = model.predict(x_test)

In [16]:
acc = np.mean(pred == y_test) 
print("ACCURACY",acc)

ACCURACY 1.0

#kernel = POLY

In [18]:
model1 = SVC(kernel = "poly")
model1.fit(x_train,y_train)
pred1 = model1.predict(x_test)

In [19]:
acc1 = np.mean(pred1 == y_test)
print("ACCURACY1",acc1)

ACCURACY1 0.782051282051282

In [20]:
model2 = SVC(kernel = "rbf")
model2.fit(x_train,y_train)
pred2 = model2.predict(x_test)

In [21]:
acc2 = np.mean(pred2 == y_test)
print("ACCURACY",acc2)

ACCURACY 0.7692307692307693

In [26]:
model3 = SVC(kernel ="sigmoid")
model3.fit(x_train,y_train)
pred3 = model3.predict(x_test)

In [27]:
acc3 = np.mean(pred3 == y_test)
print("ACCURACY",acc3)

ACCURACY 0.7756410256410257

In [28]:
print("ACCURACY OF ALL KERNEL'S\n")
print("model1",acc)
print("model2", acc1)
print("model3",acc2)
print("model4",acc3)

ACCURACY OF ALL KERNEL'S

model1 1.0
model2 0.782051282051282
model3 0.7692307692307693
model4 0.7756410256410257