In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

In [2]:
salary = pd.read_csv("F:\\Excelr\\Assignment\\Using R\\SLR\\Salary_Data.csv")

In [3]:
salary.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [8]:
model = smf.ols("YearsExperience~Salary",data=salary).fit()

In [9]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        YearsExperience   R-squared:                       0.957
Model:                            OLS   Adj. R-squared:                  0.955
Method:                 Least Squares   F-statistic:                     622.5
Date:                Tue, 08 Sep 2020   Prob (F-statistic):           1.14e-20
Time:                        21:15:52   Log-Likelihood:                -26.168
No. Observations:                  30   AIC:                             56.34
Df Residuals:                      28   BIC:                             59.14
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -2.3832      0.327     -7.281      0.000      -3.054      -1.713
Salary         0.0001   4.06e-06     24.950      0.000     9.3e-05       0.000
==============================================================================
Omnibus:                        3.544   Durbin-Watson:                   1.587
Prob(Omnibus):                  0.170   Jarque-Bera (JB):                2.094
Skew:                          -0.412   Prob(JB):                        0.351
Kurtosis:                       2.003   Cond. No.                     2.41e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.41e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [11]:
pred = model.predict(salary)
print(pred)

0      1.600934
1      2.295819
2      1.437694
3      2.024427
4      1.656428
5      3.352729
6      3.707969
7      3.130248
8      4.142905
9      3.408121
10     4.018652
11     3.266856
12     3.384628
13     3.397185
14     3.805285
15     4.496626
16     4.303310
17     6.030801
18     5.856117
19     7.129735
20     6.906748
21     7.568520
22     7.875253
23     9.142087
24     8.698442
25     8.308670
26     9.461782
27     9.022897
28    10.010845
29     9.958288
dtype: float64

In [15]:
rmse = pred-salary.YearsExperience
print(rmse)

0     0.500934
1     0.995819
2    -0.062306
3     0.024427
4    -0.543572
5     0.452729
6     0.707969
7    -0.069752
8     0.942905
9    -0.291879
10    0.118652
11   -0.733144
12   -0.615372
13   -0.702815
14   -0.694715
15   -0.403374
16   -0.796690
17    0.730801
18   -0.043883
19    1.129735
20    0.106748
21    0.468520
22   -0.024747
23    0.942087
24   -0.001558
25   -0.691330
26   -0.038218
27   -0.577103
28   -0.289155
29   -0.541712
dtype: float64

In [16]:
print(np.sqrt(np.mean(rmse*rmse)))

0.5788774181748744

In [19]:
model1 = smf.ols("np.log(Salary)~YearsExperience", data=salary).fit()

In [20]:
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(Salary)   R-squared:                       0.932
Model:                            OLS   Adj. R-squared:                  0.930
Method:                 Least Squares   F-statistic:                     383.6
Date:                Tue, 08 Sep 2020   Prob (F-statistic):           7.03e-18
Time:                        21:30:34   Log-Likelihood:                 28.183
No. Observations:                  30   AIC:                            -52.37
Df Residuals:                      28   BIC:                            -49.56
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          10.5074      0.038    273.327      0.000      10.429      10.586
YearsExperience     0.1255      0.006     19.585      0.000       0.112       0.139
==============================================================================
Omnibus:                        0.826   Durbin-Watson:                   1.438
Prob(Omnibus):                  0.661   Jarque-Bera (JB):                0.812
Skew:                           0.187   Prob(JB):                        0.666
Kurtosis:                       2.286   Cond. No.                         13.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [22]:
pred1 = model1.predict(salary)
print(pred1)

0     10.645400
1     10.670491
2     10.695581
3     10.758308
4     10.783398
5     10.871215
6     10.883761
7     10.908851
8     10.908851
9     10.971578
10    10.996668
11    11.009213
12    11.009213
13    11.021759
14    11.071940
15    11.122121
16    11.147212
17    11.172302
18    11.247574
19    11.260119
20    11.360482
21    11.398117
22    11.498480
23    11.536116
24    11.598842
25    11.636478
26    11.699204
27    11.711750
28    11.799567
29    11.824657
dtype: float64

In [23]:
rmse = pred1-salary.YearsExperience
print(rmse)

0     9.545400
1     9.370491
2     9.195581
3     8.758308
4     8.583398
5     7.971215
6     7.883761
7     7.708851
8     7.708851
9     7.271578
10    7.096668
11    7.009213
12    7.009213
13    6.921759
14    6.571940
15    6.222121
16    6.047212
17    5.872302
18    5.347574
19    5.260119
20    4.560482
21    4.298117
22    3.598480
23    3.336116
24    2.898842
25    2.636478
26    2.199204
27    2.111750
28    1.499567
29    1.324657
dtype: float64

In [24]:
print(np.sqrt(np.mean(rmse*rmse)))

6.348343161235198